.blog-list{
  border-bottom: 1px solid $border-color;
  padding: map-get($map:$spacers, $key:1) map-get($map:$spacers , $key:3 );
  .button-category{
    background: $primary;
    color: #ffffff;
  }
  @media screen and (min-width:map-get($map:$grid-breakpoints , $key:sm )) {
    .item-wrapper {
      width: 100%;
      position: relative;
      background: #000000;
      &:before{
        display: block;
        content: "";
        padding-top: 56%;
      }
    }
    .blog-list-category{
      position: absolute;
      top: map-get($map:$spacers , $key:3 );
      left: map-get($map:$spacers , $key:3 );
    }
    .triangle {
      position: absolute;
      top: 0;
      right: 0;
      border-top: 50px solid $accent-color;
      border-left: 50px solid transparent;
    }
    .blog-list-title{
      padding: 0 map-get($map:$spacers , $key:3 );
      position: absolute;
      top: 70%;
      left: 0;
      transform: translateY(-70%);
      a{
        color: #ffffff;
        &:hover{
          color: $primary;
        }
      } 
  }
    h3{
      //font-size: 1.6rem;
    }
  }
}