.button-category{
  position: relative;
  background: #ffffff !important;
  border-radius: 20px;
  border: 2px solid $primary;
  padding-top: $spacer * .25;
  padding-bottom: $spacer * .25;
  padding-left: $spacer * .5;
  padding-right: $spacer * .5;

  color: $primary !important;
  font-weight: $bold !important;
  &:hover{
    background: #cccccc !important;
  }
}