@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .pagination {
      justify-content: space-between;
      align-items: center;
      ul {
        list-style-type: none;
        padding-inline-start: 0;
        flex-grow: 3;
        flex-shrink: 0;

        display: flex;
        justify-content: center;
        //flex-wrap: wrap;
        li {
          display: flex;
          justify-content: center;
          align-items: center;

          margin: 0 $spacer * .5;
          flex-basis: 2rem;
          flex-shrink: 0;
          height: 2rem;

          font-size: $small-font-size;
          &.active{
            background: $primary;
            color: #ffffff;
            border-radius: 100%;
          }

        }
      }
    }
  }
}