@use './variables' as *;
@use './mixin' as *;

html {
  font-size: 62.5%;
}
body {
  font-family: $font-default;
  font-size: 1.6rem;
  letter-spacing: 0.06rem;
  line-height: 1.5;
  color: $font-color;
  @include cm(dark) {
    background: $gray-darker;
    color: $font-color-light;
  }
  @include mq(lg) {
    font-size: 1.8rem;
    letter-spacing: 0.08rem;
    line-height: 1.8;
  }
}
p {
  margin: 1.8rem auto;
}
ul,
ol {
  margin: 0.6rem;
  @include mq(md) {
    margin: 1rem;
  }
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  li {
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    line-height: 2;
  }
}
h1 {
  font-size: 2.8rem;
  @include mq(md) {
    font-size: 3.6rem;
  }
  font-weight: normal;
  width: 90%;
  margin: 3.2rem auto;
}
h2 {
  font-size: 2rem;
  @include mq(md) {
    font-size: 2.4rem;
  }
  font-weight: normal;
  margin: 2rem auto;
}
h3 {
  font-size: 1.8rem;
  @include mq(md) {
    font-size: 1.8rem;
  }
  font-weight: bold;
  margin: 1.4rem auto;
}

a {
  color: $primary-light;
  font-weight: bold;
  &:hover {
    color: $primary-lighter;
    text-decoration: none;
  }
  &:active {
    color: $primary;
  }
}
hr {
  border: none;
  border-top: 1px solid $gray;
}
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
