@use '../var/var' as var;

/*=====================================
** 表示
**=====================================*/
.sl-display-none {
    display: none;
}
/*=====================================
** 位置指定
**=====================================*/
.sl-align-center {
    text-align: center;
}
.sl-align-right {
    text-align: right;
}
/*=====================================
** flexbox
**=====================================*/
.sl-display-flex {
    display: flex;
}
.sl-flex-justify-center {
    justify-content: center;
}
.sl-flex-justify-between {
    justify-content: space-between;
}
.sl-flex-justify-around {
    justify-content: space-around;
}
/*=====================================
** リスト
**=====================================*/
ul,ol {
    &.sl-inline-list{
        padding-left: 1rem;
        li {
            display: inline-block;
            margin: auto 0.6rem;
            @include var.sl-mq(sm){
                margin: auto 0.2rem;
            }
        }
    }
}
/*=====================================
** ボーダー
**=====================================*/
.sl-border-bottom {
    border-bottom: 1px solid var.$sl-gray;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}