.root {
  margin: 2rem auto;
  @media print {
    pre {
      border: 1px solid #000000;
      font-size: 1vw;
    }
  }
}
.inline {
  display: inline;
  padding: 0.4rem 0 !important;
  code {
    padding: 0.4rem;
  }
}
