.root {
  @apply leading-loose;
  > div > div {
    @apply my-4;
  }
  strong {
    @apply font-bold;
  }
  blockquote {
    @apply my-2 mx-4 p-2 bg-gray-200 rounded;
  }
  h2 {
    @apply text-xl font-bold text-center mb-4 mt-12;
  }
  h3 {
    @apply text-xl font-bold mb-4 mt-8;
  }
  h4 {
    @apply font-bold mb-4 mt-8;
  }
  h5,
  h6 {
    @apply my-4;
  }
  ul,
  ol {
    @apply list-inside;
    li {
      @apply ml-4;
    }
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  :not(pre) > code {
    @apply bg-gray-800 text-white text-sm p-1 mx-2 rounded;
  }
  :global(.toc) {
    @apply my-4 p-2 text-sm leading-relaxed max-w-screen-sm mx-auto;
    @apply bg-gray-200;
    ol {
      @apply list-none;
      counter-reset: toc-number;
      li {
        counter-increment: toc-number;
        @apply ml-8 my-2 relative;
        &::before {
          content: counters(toc-number, '-') '.';
          @apply inline-block absolute h-full -left-8;
        }
      }
    }
  }
}
