@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

$gray: #333333;
$white: #ffffff;

$amazon: #e89713;
$rakuten: #d91414;

/* ************************************* */
/* カエレバ、ヨメレバ、トマレバ */
/* ************************************* */
.kaerebalink-box,
.booklink-box,
.tomarebalink-box {
  background: $light-gray;
  width: 100%;
  max-width: $sm;
  margin: 2rem auto;
  border-radius: 6px;
  padding: 2rem;
  a {
    &:after {
      display: none;
    }
  }
  .kaerebalink-image,
  .booklink-image {
    width: 100%;
    max-width: $xs;
    margin: auto;
    text-align: center;
    img {
      width: 100%;
      max-width: 200px;
      height: auto;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }
  }
  .kaerebalink-name,
  .booklink-name,
  .tomarebalink-name {
    font-size: 1.8rem;
  }
  .kaerebalink-link1,
  .booklink-link2,
  .tomarebalink-link1 {
    > div {
      border: 3px solid $dark-gray;
      border-radius: 6px;
      margin: 0.6rem auto;
      text-align: center;
      background: #ffffff;
      width: 100%;
      max-width: 300px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 1rem;
        &:hover {
          background: $dark-gray;
          color: #ffffff;
        }
      }
    }
    .shoplinkrakuten {
      border-color: $rakuten;
      a {
        color: $rakuten;
        &:hover {
          background: $rakuten;
        }
      }
    }
    .shoplinkamazon {
      border-color: $amazon;
      a {
        color: $amazon;
        &:hover {
          background: $amazon;
        }
      }
    }
    @include mq(md) {
      display: flex;
      justify-content: center;
      > div {
        margin: 0.6rem;
      }
    }
  }
}
