@use '../../Foundation/variables' as *;

.appreach {
  @apply bg-gray-200 w-full max-w-screen-sm rounded p-4;
  margin: 2rem auto !important;
  a {
    &::after {
      @apply hidden;
    }
  }
  .appreach__name {
    @apply text-xl;
  }
  .appreach__price {
    @apply mx-1;
  }
  .appreach__posted {
    @apply ml-1;
  }
  .appreach__icon {
    @apply w-full h-auto rounded-xl;
    max-width: 120px;
  }
  .appreach__links {
    .appreach__aslink,
    .appreach__gplink {
      @apply m-1;
    }
    .appreach__aslink {
      img {
        height: 60px;
        width: 135px;
      }
    }
    .appreach__gplink {
      img {
        height: 40px;
        width: 140px;
      }
    }
    @apply md:flex md:items-center;
  }
}
