$amazon: #e89713;
$rakuten: #d91414;

/* ************************************* */
/* カエレバ、ヨメレバ、トマレバ */
/* ************************************* */
.kaerebalink-box,
.booklink-box,
.tomarebalink-box {
  @apply bg-gray-200 w-full max-w-screen-sm my-4 mx-auto rounded p-4;
  a {
    &:after {
      @apply hidden;
    }
  }
  .kaerebalink-image,
  .booklink-image {
    @apply w-full max-w-screen-sm m-auto text-center;
    img {
      @apply w-full h-auto shadow;
      max-width: 200px;
    }
  }
  .kaerebalink-name,
  .booklink-name,
  .tomarebalink-name {
    @apply text-lg;
  }
  .kaerebalink-link1,
  .booklink-link2,
  .tomarebalink-link1 {
    > div {
      @apply border-2 border-gray-600 rounded my-1 mx-auto text-center;
      @apply bg-white w-full max-w-screen-sm;
      a {
        @apply block w-full h-full p-2 hover:bg-gray-600 hover:text-white;
      }
    }
    .shoplinkrakuten {
      border-color: $rakuten;
      a {
        color: $rakuten;
        &:hover {
          background: $rakuten;
        }
      }
    }
    .shoplinkamazon {
      border-color: $amazon;
      a {
        color: $amazon;
        &:hover {
          background: $amazon;
        }
      }
    }
    @apply md:flex justify-center;
    > div {
      @apply md:m-1;
    }
  }
}
