@use '../../Foundation/variables' as *;

.root {
  line-height: 2;
  > div > div {
    margin: 2rem 0;
  }
  strong {
    font-weight: bold;
  }
  blockquote {
    margin: 1rem 2rem;
    padding: 1rem;
    background: $light-gray;
  }
  h2 {
    font-size: 2.2rem;
    border-bottom: 1px solid $dark-gray;
    margin: 2rem 0;
  }
  h3 {
    font-size: 1.8rem;
    border-left: 3px solid $dark-gray;
    padding-left: 1rem;
    margin: 2rem 0;
  }
  h4 {
    font-weight: bold;
    margin: 2rem 0;
  }
  h5,
  h6 {
    margin: 2rem 0;
  }
  ul,
  ol {
    margin-left: 4rem;
    li {
      &:before {
        margin-right: 0.6rem;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
  ul {
    li {
      &:before {
        content: '';
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 100%;
        background: $dark-gray;
        display: inline-block;
      }
    }
  }
  ol {
    counter-reset: my-counter;
    li {
      &::before {
        content: counter(my-counter, decimal-leading-zero) '.';
        counter-increment: my-counter;
        color: $dark-gray;
        font-weight: bold;
      }
    }
  }
}
