@use '../../Foundation/variables' as *;

.flexLeft {
  display: flex;
  align-items: center;
  font-weight: bold;
  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: $dark-gray;
    margin-left: 2rem;
  }
}
.flexCenter {
  display: flex;
  align-items: center;
  font-weight: bold;
  &:before {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: $dark-gray;
    margin-right: 2rem;
  }
  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: $dark-gray;
    margin-left: 2rem;
  }
}
