@use '../../Foundation/variables' as *;

.articleWrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 2rem;
  .main {
    background: #ffffff;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
  }
  .side {
    width: 300px;
    align-self: baseline;
    height: 80vh;
    overflow-y: hidden;
    position: sticky;
    top: 100px;
    padding: 3rem;
  }
}
.postInfo {
  background: #ffffff;
  padding: 1rem;
  .inner {
    background: $light-gray;
    padding: 1rem;
    border-radius: 6px;
  }
  .categoryList {
    display: flex;
    li {
      padding: 0.2rem 0.6rem;
    }
  }
}
