@use '../../Foundation/variables' as *;

.root {
  background: #ffffff;
  padding: 1rem;
}
.buttons {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  > * {
    margin: 0 0.6rem;
  }
  .copyButton {
    width: 64px;
    height: 64px;
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $darker-gray;
    color: #ffffff;
    border-radius: 100%;
    font-size: 32px;
    cursor: pointer;
  }
}
