@use '../../Foundation/variables' as *;

.root {
  background: $dark-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  margin: 2rem 0;
  max-width: $xs;
  @media print {
    display: none;
  }
}
