@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

.root {
  display: none;
  @include mq(md) {
    display: block;
    position: relative;
  }
}
.searchBox {
  position: relative;
  background: lighten($theme-color, 40%);
  border-radius: 6px;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  color: $darker-gray;
  input {
    flex-grow: 1;
  }
  .searchIcon {
    font-size: 2rem;
  }
}
.hits {
  position: fixed;
  top: 10rem;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 1rem;
  width: 100%;
  li {
    margin: 0.4rem 0;
    border-bottom: 1px dashed #ffffff;
    mark {
      background: $theme-color;
      color: #ffffff;
      padding: 0.4rem;
    }
    a {
      color: #ffffff;
    }
  }
}
