@use '../../Foundation/variables' as *;

.root {
  display: block;
  width: 100%;
  max-width: $sm;
  position: relative;
  margin: 2rem auto;
}
.title {
  text-align: center;
  margin: 1rem;
  color: $dark-gray;
  font-weight: bold;
}
.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.articleImage {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  &::before {
    content: '';
    display: block;
    width: 100%;
    position: relative;
    padding-top: (9/16) * 100%;
  }
}
