@use "sass:math";

.default {
  @apply relative w-full max-w-screen-sm overflow-hidden m-4;
  &::before {
    content: '';
    @apply block w-full relative;
    padding-top: 100%;
  }
  iframe {
    @apply w-full h-full absolute top-0 left-0;
  }
}
.youtube {
  @extend .default;
  &::before {
    padding-top: math.div(9, 16) * 100%;
  }
}
