@use '../../var/var' as var;

/*=====================================
** プロフィール
**=====================================*/
.sl-bio-wrapper{
    margin: 4rem auto;
}
.sl-bio {
    background: var.$sl-gray-light;
    border-radius: 0.8rem;
    filter: drop-shadow(0 0 0.4rem rgba(0,0,0,.1));
    .sl-bio-title {
        font-size: 3.0rem;
        font-family: var.$sl-font-hw;
        color: var.$sl-gray-dark;
        margin: 0 auto;
    }
}