@use '../../var/var' as var;

/**====================================
** 目次
**=====================================*/
.tableOfContents {
    border: 1px solid var.$sl-primary-lighter;
    padding: 0;
    margin: 3rem auto;
    width: 50%;
    @include var.sl-mq(md) {
        width: 80%;
    }
    @include var.sl-mq(sm) {
        width: 100%;
    }

    h2 {
        margin: 0;
    }
}