.appreach {
  background: $global-muted-background;
  max-width: $breakpoint-small;
  margin: $margin-margin auto;
  padding: $padding-padding;
  border-radius: $border-rounded-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  a {
    display: inline-block;
  }
  .appreach__name {
    font-size: $global-xlarge-font-size;
  }
  .appreach__price {
    margin: auto $margin-small-margin;
  }
  .appreach__posted {
    margin-left: $margin-small-margin;
  }
  .appreach__icon {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 120px;
  }
  .appreach__links {
    .appreach__aslink,
    .appreach__gplink {
      margin: $margin-small-margin;
      display: inline-block;
    }
    .appreach__aslink {
      img {
        height: 40px;
        width: 135px;
      }
    }
    .appreach__gplink {
      img {
        height: 40px;
        width: 134.5px;
      }
    }
    @media (min-width: $breakpoint-medium) {
      display: flex;
      align-items: center;
    }
  }
}
