.u-heading--flexLeft {
  @apply flex items-center font-bold;
  &::after {
    content: '';
    @apply flex-auto h-px bg-gray-600 ml-4;
  }
}
.u-heading--flexCenter {
  @apply flex items-center font-bold;
  &::before {
    content: '';
    @apply flex-auto h-px bg-gray-600 mr-4;
  }
  &::after {
    content: '';
    @apply flex-auto h-px bg-gray-600 ml-4;
  }
}
