$amazon: #e89713;
$rakuten: #d91414;

/* ************************************* */
/* カエレバ、ヨメレバ、トマレバ */
/* ************************************* */
.kaerebalink-box,
.booklink-box,
.tomarebalink-box {
  background: $global-muted-background;
  max-width: $breakpoint-small;
  margin: $margin-margin auto;
  padding: $padding-padding;
  border-radius: $border-rounded-border-radius;

  a {
    .externalIcon {
      display: none;
    }
  }
  .kaerebalink-image,
  .booklink-image {
    max-width: $breakpoint-small;
    margin: auto;
    text-align: center;
    @apply w-full max-w-screen-sm m-auto text-center;
    img {
      width: 100%;
      height: auto;
      max-width: 200px;
    }
  }
  .kaerebalink-link1,
  .booklink-link2,
  .tomarebalink-link1 {
    @media (min-width: $breakpoint-medium) {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
    > div {
      border: 2px #666666 solid;
      border-radius: $border-rounded-border-radius;
      text-align: center;
      background: #ffffff;
      width: 100%;
      max-width: $breakpoint-small;
      margin: $margin-margin 0;
      a {
        display: block;
        padding: $padding-small-padding;
        &:hover {
          background: #666666;
          color: #ffffff;
        }
      }
    }
    .shoplinkrakuten {
      border-color: $rakuten;
      a {
        color: $rakuten;
        &:hover {
          background: $rakuten;
        }
      }
    }
    .shoplinkamazon {
      border-color: $amazon;
      a {
        color: $amazon;
        &:hover {
          background: $amazon;
        }
      }
    }
    > div {
      @media (min-width: $breakpoint-medium) {
        margin: $margin-small-margin;
      }
    }
  }
}
