@use '../Foundation/variables' as *;
@use '../Foundation/mixin' as *;

/*=====================================
** フッター
**=====================================*/
.l-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  background: $gray-light;
  overflow: hidden;
  font-size: 1.2rem;

  @include mq(md) {
    flex-direction: row;
    justify-content: space-around;
  }
}
