@use '../Foundation/variables' as *;
@use '../Foundation/mixin' as *;

.l-header {
  position: sticky;
  top: 0;
  z-index: 9999;

  .l-header__nav {
    position: relative;
    background: $primary;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(md) {
      a {
        color: $white;
        &:hover {
          color: $primary-light;
        }
      }
    }

    .l-header__nav--menuIcon {
      font-size: 3rem;
      @include mq(md) {
        display: none;
      }
    }
    .l-header__nav--title {
      font-family: $font-logo;
      font-size: 2rem;
      a {
        color: $white;
        text-decoration: none;
        font-weight: normal;
        &:hover {
          color: $primary-light;
        }
      }
    }
    .l-header__nav__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 20rem;
      width: 100%;
      color: $white;
      @include mq(md) {
        width: auto;
      }
    }
    .l-header__nav__drawer {
      z-index: 1;
      background: $white;
      height: 100vh;
      min-width: 60%;
      width: auto;
      margin: 0;
      padding: 2rem 4rem;
      position: fixed;
      top: 0;
      left: 0;
      overflow-y: auto;
      font-size: 1.4rem;
      border: 1px solid $gray;

      &.l-header__nav__darwer--hide {
        display: none;
        @include mq(md) {
          display: flex;
        }
      }
      &.l-header__nav__darwer--show {
        display: block;
        @include mq(md) {
          display: flex;
        }
      }

      @include mq(md) {
        position: relative;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding: 0 1rem;
        overflow-x: auto;
        white-space: nowrap;
        border: none;
        background: inherit;
      }
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3);
      }
      &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
      }

      h2 {
        border-bottom: 1px solid $gray;
        @include mq(md) {
          display: none;
        }
      }
      .l-header__nav__drawer--list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        @include mq(md) {
          flex-direction: row;
        }
        > li {
          border-bottom: 1px dashed $gray;
          a {
            text-decoration: none;
          }
          @include mq(md) {
            margin: 0 1rem;
            border-bottom: none;
          }
        }
      }
      .l-header__nav__drawer__item {
        .c-icon {
          padding: 2rem;
          border: 2px solid $primary-light;
          @include mq(md) {
            padding: inherit;
            border: none;
          }
        }
      }
    }
  }
}
