@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

.appreach {
  padding: 2rem;
  margin: 2rem auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  flex-direction: column;
  width: 100%;
  @include mq(lg) {
    width: 80%;
    flex-direction: row;
  }

  p {
    margin: 0;
  }
  a {
    &:after {
      display: none;
    }
  }
  > div {
    margin: auto 0 !important;
  }
}
.appreach__icon {
  border-radius: 10%;
  width: 100%;
  height: auto;
  max-width: 120px;
}
.appreach__detail {
  flex-grow: 2;
}
.appreach__name {
  font-size: 2rem;
  line-height: 1.5em !important;
  max-height: 3em;
  overflow: hidden;
}
.appreach__info {
  font-size: 1.6rem;
}
.appreach__developper,
.appreach__price {
  margin-right: 0.5em;
}
.appreach__posted a {
  margin-left: 0.5em;
}
.appreach__links {
  flex-basis: 100%;
  display: flex;
}
.appreach__aslink {
  height: 60px;
  width: 135px;
  display: inline-block;
  background: url(/img/appstore_badge.svg) no-repeat center center;
  img {
    display: none;
  }
}
.appreach__gplink {
  height: 60px;
  width: 140px;
  display: inline-block;
  background: url(/img/google-play-badge.png) no-repeat center center;
  background-size: contain;
  img {
    display: none;
  }
}
.appreach__star {
  position: relative;
  font-size: 14px !important;
  height: 1.5em;
  width: 5em;
}
.appreach__star__base {
  position: absolute;
  color: #737373;
}
.appreach__star__evaluate {
  position: absolute;
  color: #ffc107;
  overflow: hidden;
  white-space: nowrap;
}
