@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

.c-badge {
  border: 2px solid $primary;
  color: $primary;
  @include cm(dark) {
    border-color: $primary-light;
    color: $primary-light;
    &:hover {
      border-color: $primary;
    }
  }
  text-decoration: none;
  padding: 1rem;
  margin: 1rem 0;

  &:hover {
    background: $primary;
    color: $white;
  }

  h3,
  h4 {
    display: inline-block;
    margin: inherit;
  }
}
