@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

.c-prevnext {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
  }

  .c-prevnext__item {
    flex-grow: 1;
    display: flex;
    margin: 1rem 0;
    width: 100%;
    @include mq(md) {
      width: auto;
    }
  }
  .c-prevnext__item--prev {
    @extend .c-prevnext__item;
    justify-content: flex-start;

    .c-prevnext__icon {
      margin-right: 0.6rem;
    }
  }
  .c-prevnext__item--next {
    @extend .c-prevnext__item;
    justify-content: flex-end;

    .c-prevnext__icon {
      margin-left: 0.6rem;
    }
  }

  .c-prevnext__icon {
    background: $primary-lighter;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: $gray-dark;
    }
  }
}