@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

.c-TOC {
  border: 1px solid $gray;
  padding: 0;
  margin: 3rem auto;
  width: 100%;
  @include mq(md) {
    width: 60%;
  }
  h2 {
    margin: 0;
    border: none !important;
    background: $primary-light !important;
    color: $white !important;
  }
  .c-TOC__item {
    margin: 1rem auto;
  }
}
