@use '../../Foundation/variables' as *;

.c-tag-item {
  font-size: smaller;

  h5 {
    font-weight: normal;
    margin: 0;
  }

  a {
    display: inline-block;
    background: $primary-lighter;
    color: $gray-dark;
    text-decoration: none;
    padding: 0.2rem 0.6rem;
    border-radius: 0.4rem;
    font-weight: normal;

    &:hover {
      background: $gray-dark;
      color: $white;
    }
  }
}
