@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

$amazon: #e89713;
$rakuten: #d91414;

/* ************************************* */
/* カエレバ、ヨメレバ、トマレバ */
/* ************************************* */
.kaerebalink-box,
.booklink-box,
.tomarebalink-box {
  //border: 3px double var.$sl-gray;
  border: 1px solid $gray;
  padding: 2rem;
  margin: 2rem auto;
  overflow: hidden;
  font-size: small;
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mq(lg) {
    width: 80%;
    flex-direction: row;
  }

  a {
    text-decoration: none;
    color: initial;

    &[target='_blank']::after {
      content: none !important;
      background: none !important;
    }
  }

  .kaerebalink-image,
  .booklink-image {
    img {
      max-width: 600px;
      filter: none;
    }
    text-align: center;
    margin: 1rem auto;
    @include mq(lg) {
      margin: 0 1.5rem 0.5rem 0;
    }
  }
}
.kaerebalink-name,
.booklink-name,
.tomarebalink-name {
  font-weight: bold;
  font-size: 120%;
  line-height: 1.8;
  margin-bottom: 1rem;

  p:empty {
    display: none;
  }
}
.kaerebalink-powered-date,
.booklink-powered-date,
.tomarebalink-powered-date,
.kaerebalink-detail,
.booklink-detail,
.tomarebalink-address {
  font-size: 1.2rem;
  font-weight: normal;
}
.kaerebalink-link1,
.booklink-link2,
.tomarebalink-link1 {
  overflow: hidden;

  div {
    background-image: none;
    padding: 0.4rem;
    margin: 0 auto;
    display: block;
    width: 80%;
    @include mq(lg) {
      padding: 0.4rem;
      display: inline-block;
      width: 12rem;
    }

    a {
      border-width: 2px;
      border-style: solid;
      font-size: 90%;
      font-weight: bold;
      border-radius: 5px;
      padding: 0.7rem 0.3rem;
      width: 100%;
      text-align: center;
      display: block;

      &:hover {
        color: $white;
      }
    }

    img {
      display: none;
    }
  }
}

.shoplinkamazon {
  a {
    color: $amazon;

    &:hover {
      background-color: $amazon;
      border-color: $amazon;
    }
  }
}
.shoplinkrakuten {
  a {
    color: $rakuten;

    &:hover {
      background-color: $rakuten;
      border-color: $rakuten;
    }
  }
}
