/*=====================================
** テーマカラー
**=====================================*/
$sl-primary: #54917f;
$sl-primary-light: lighten($sl-primary, 12%);
$sl-primary-lighter: lighten($sl-primary-light, 24%);
$sl-accent: #ff66b3;
$sl-gray: #dddddd;
$sl-gray-light: lighten($sl-gray, 12%);
$sl-gray-dark: darken($sl-gray, 48%);
$sl-gray-darker: darken($sl-gray-dark, 18%);
$sl-white: #ffffff;
$sl-note: #ffffe5;
$sl-danger: lighten($sl-accent, 28%);

$sl-font-color: $sl-gray-darker;