@use '../var/var.scss' as var;

.sl-btn{
    border-radius: 0.6rem;
    padding: 1rem 3rem;
    margin: 1rem 0.4rem;
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }

    outline: none;
}
.sl-btn-primary{
    background: var.$sl-primary;
    color: var.$sl-gray-light;
    border: none;
    
    &::focus{
        outline: none;
    }

    &:hover{
        background: var.$sl-primary-light;
        color: var.$sl-white;
    }
}
.sl-btn-line{
    border-width: 2px;
    border-style: solid;
    border-color: var.$sl-gray-dark;
    color: var.$sl-gray-dark;

    &:hover{
        background: var.$sl-gray-dark;
        color: #ffffff;
    }
}