@use '../var/var' as var;

/*=====================================
** フッター
**=====================================*/
footer {
  margin-top: auto;
  background: var.$sl-gray-light;
  overflow: hidden;
  font-size: small;

  .sl-inline-list {
      margin: 0 auto;
  }
}