@use '../var/var' as var;

/*=====================================
** ナビゲーションバー
**=====================================*/
.sl-nav-bar {
  background: var.$sl-gray-light;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 9999;
  border-bottom: 1px solid var.$sl-primary-lighter;
  @include var.sl-mq(sm){
    filter: drop-shadow(0 1rem 4rem rgba(0,0,0,.2));
  }

  .sl-nav-title-wrapper {
    background: var.$sl-primary;
    position: relative;
    min-height: 6rem;

    .sl-nav-title {
      position: absolute;
      top: 0;
      left: 0;
      color: var.$sl-white;
      text-decoration: none;
      font-size: 2.4rem;
      font-family: var.$sl-font-logo;
      font-weight: normal;

      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: var.$sl-primary-light;
      }
    }

    @include var.sl-mq(sm) {
      .sl-nav-open {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        background: var.$sl-primary-lighter;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        filter: drop-shadow(2rem 2rem 4rem rgba(0,0,0,.4));

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 3rem;
          height: 3rem;
          text-align: center;
          vertical-align: middle;
          transform: translateY(-50%) translateX(-50%);
          -webkit-transform: translateY(-50%) translateX(-50%);
          color: var.$sl-gray-dark;
          font-size: 2rem;
        }
      }
    }
  }

  .sl-nav-menu {
    .sl-nav-drawer {
      position: relative;
    }

    .sl-nav-content {
      padding: 0.6rem 3rem;
      font-size: 1.4rem;
      background: var.$sl-gray-light;
    }

    @include var.sl-mq(sm) {
      .sl-nav-content {
        overflow: hidden;
        position: absolute;
        z-index: 2;
        top: 100%;
        left: 0;
        width: calc(100% - 6rem);
        height: auto;
        transition: 0.3s ease-in-out;
        padding: 3rem;
        transform: translateY(-200%);
        -webkit-transform: translateY(-200%);
        z-index: -1;
      }
      #nav-input:checked {
        & ~ .sl-nav-content {
          transform: translateY(0);
          -webkit-transform: translateY(0);
        }
      }
    }
  }
}
