@use '../var/var' as var;

/*=====================================
** ナビゲーションバー
**=====================================*/
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sl-nav-bar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 9999;
  background: var.$sl-gray-light;
  border-bottom: 1px solid var.$sl-primary-lighter;
  @include var.sl-mq(md) {
    flex-direction: column;
  }
  @include var.sl-mq(sm) {
    filter: drop-shadow(0 1rem 4rem rgba(0, 0, 0, 0.2));
  }

  .sl-nav-title-wrapper {
    flex-basis: calc(100% / 6);
    background: var.$sl-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    position: relative;

    .sl-nav-title {
      color: var.$sl-white;
      text-decoration: none;
      font-size: 2.4rem;
      font-family: var.$sl-font-logo;
      font-weight: normal;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: var.$sl-primary-light;
      }
    }

    @include var.sl-mq(sm) {
      .sl-nav-open {
        display: flex;
        width: 3rem;
        height: 3rem;
        background: var.$sl-primary-lighter;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        filter: drop-shadow(2rem 2rem 4rem rgba(0, 0, 0, 0.4));
        justify-content: center;
        align-items: center;

        span {
          display: flex;
          align-items: center;
          color: var.$sl-gray-dark;
          font-size: 2rem;

          .isCheked {
            animation: 0.5s ease-in-out 1 rotation;
          }
        }
      }
    }
  }

  .sl-nav-drawer {
    width: calc(100% - 6rem);
    padding: 0rem 3rem;
    font-size: 1.4rem;

    .sl-nav-content {
      padding: 0rem 3rem;
      font-size: 1.4rem;
      background: var.$sl-gray-light;

      hr {
        margin: 0 -1rem;
      }
    }

    .sl-nav-cat, .sl-nav-pages {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem auto;

      a {
        display: block;
      }
    }
    .sl-nav-cat {
      a {
        width: 25%;

        @include var.sl-mq(sm) {
          width: 40%;
        }
      }
    }
    .sl-nav-pages {
      a {
        width: 25%;

        @include var.sl-mq(sm) {
          width: 100%;
          margin: 1rem 0;
        }
      }
    }

    @include var.sl-mq(sm) {
      .sl-nav-content {
        padding: 0.6rem 3rem;
        overflow: hidden;
        position: absolute;
        z-index: 2;
        top: 100%;
        left: 0;
        width: calc(100% - 6rem);
        height: auto;
        transition: 0.3s ease-in-out;
        padding: 3rem;
        transform: translateY(-200%);
        -webkit-transform: translateY(-200%);
        z-index: -1;
      }
      #nav-input:checked {
        & ~ .sl-nav-content {
          transform: translateY(0);
          -webkit-transform: translateY(0);
        }
      }
    }
  }
}
