@use '../var/var' as var;

/*===========================================
** 前・次
**===========================================*/
.sl-prevnext {
  background: var.$sl-primary-lighter;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    color: var.$sl-gray-dark;
  }
}
/*=====================================
** ペジネーション
**=====================================*/
.sl-pagination {
  .sl-inline-list {
    li {
      border: 1px solid var.$sl-primary;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      position: relative;
      padding: 0;

      a,
      span {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        text-decoration: none;
      }

      &.sl-page-current {
        background: var.$sl-primary;
        color: var.$sl-white;
      }
      &.sl-page-link {
        background: var.$sl-gray-light;
         &:hover {
           background: var.$sl-primary-lighter;
         }
        a {
          color: var.$sl-primary;
          &:hover {
              color: var.$sl-gray-dark;
          }
        }
      }
    }
  }
}
