@use '../var/var' as var;

/*=====================================
** タグリスト
**=====================================*/
.sl-tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto 2rem;
  padding: 0;

  list-style: none;
  li {
    margin: 1rem 0.6rem;
    &:first-of-type {
      margin-left: 0;
    }
    &.sl-tag-item {
      font-size: smaller;

      h5 {
        font-weight: normal;
      }

      a {
        display: inline-block;
        background: var.$sl-primary-lighter;
        color: var.$sl-gray-dark;
        text-decoration: none;
        padding: 0.2rem 0.6rem;
        border-radius: 0.4rem;
        font-weight: normal;

        &:hover{
          background: var.$sl-gray-dark;
          color: var.$sl-white;
        }
      }
    }
  }
}