@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

.p-bio {
  background: $gray-light;
  border-radius: 4px;

  margin: 4rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include mq(md) {
    flex-direction: row;
  }

  .p-bio__section {
    display: flex;
    flex-direction: column;
  }
  .p-bio__section--image {
    @extend .p-bio__section;
    flex-basis: 100%;
    @include mq(md) {
      flex-basis: 30rem;
    }
  }
  .p-bio__section--description {
    @extend .p-bio__section;
    margin: auto 4rem;

    p {
      font-size: 90%;
    }
    .c-button--primary {
      max-width: 20rem;
      text-align: center;
    }
  }
  .p-bio__authorName {
    font-size: 3rem;
    font-family: $font-hw;
    margin: 0 auto;
    color: $gray-dark;
  }
  .p-bio__image {
    border-radius: 50%;
    max-width: 20rem;
    margin: auto;
    &:hover {
      opacity: 0.8;
    }
  }
}
@include cm(light) {
  .p-bio {
    border: 1px solid $gray;
  }
}
@include cm(dark) {
  .p-bio {
    background: $gray-dark;
  }
  .p-bio__authorName {
    color: $white;
  }
}
