@forward '../Component/c-tag-item';

.p-tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto 2rem;
  padding: 0;
  list-style: none;
  li {
    margin: 1rem 0.6rem;
    &:first-of-type {
      margin-left: 0;
    }
  }
}