@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

.title {
  font-family: $font-logo;
  cursor: pointer;
}
.navDrawer {
  @include mq(sm) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: auto;
    width: auto;
    max-width: 100%;
    background: none;
    color: #ffffff;
    overflow-x: auto;
    overflow-y: hidden;
    a {
      color: #ffffff;
    }
    &::-webkit-scrollbar {
      height: 10px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 6px;
      border: none;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: lighten($theme-color, 40%);
    }
    .socialIcon {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
}
.socialIcon {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0.4rem;
    li {
      margin: 0.4rem;
    }
  }
}
.pageList {
  @include mq(sm) {
    display: flex;
    > div {
      width: 180px;
      font-size: 1.4rem;
    }
  }
}
