@use '../../Foundation/variables' as *;
@use '../../Foundation/mixin' as *;

.post {
  cursor: pointer;
  height: 100%;
  a {
    color: $darker-gray;
  }
}
.title {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0.4rem;
  border-bottom: 1px dashed $dark-gray;
  color: $darker-gray;
}
.subItem {
  font-size: 1.4rem;
}
