@use 'sass:math';

.p-articleBody {
  &__root {
    @apply leading-loose p-4;
    > div > div {
      @apply my-4;
    }
    strong {
      @apply font-bold;
    }
    blockquote {
      @apply my-2 mx-4 p-2 bg-gray-200 rounded;
    }
    h2 {
      @apply text-xl font-bold text-center mb-4 mt-12;
    }
    h3 {
      @apply text-xl font-bold mb-4 mt-8;
    }
    h4 {
      @apply font-bold mb-4 mt-8;
    }
    h5,
    h6 {
      @apply my-4;
    }
    ul,
    ol {
      @apply list-inside;
      li {
        @apply ml-4;
      }
    }
    ul {
      @apply list-disc;
    }
    ol {
      @apply list-decimal;
    }
    :not(pre) > code {
      @apply bg-gray-800 text-white text-sm p-1 mx-2 rounded;
    }
    .toc {
      @apply my-4 p-2 text-sm leading-relaxed max-w-screen-sm mx-auto;
      @apply border-t-2 border-b-2 border-gray-400;
      ol {
        @apply list-none;
        counter-reset: toc-number;
        li {
          counter-increment: toc-number;
          @apply ml-8 my-2 relative;
          &::before {
            content: counters(toc-number, '-') '.';
            @apply inline-block absolute h-full -left-8;
          }
        }
      }
    }
  }
  &__table {
    @apply overflow-x-auto w-full;
    table {
      min-width: 768px;
      @apply bg-gray-100 border-collapse;
      th {
        @apply bg-gray-600 text-white py-2 px-4 font-bold;
      }
      tr {
        @apply border-b border-gray-600;
      }
      td {
        @apply py-1 px-4;
      }
    }
  }
  &__iframe {
    &--default {
      @apply relative w-full max-w-screen-sm overflow-hidden my-4 mx-auto;
      &::before {
        content: '';
        @apply block w-full relative;
        padding-top: 100%;
      }
      iframe {
        @apply w-full h-full absolute top-0 left-0;
      }
    }
    &--youtube {
      @extend .p-articleBody__iframe--default;
      &::before {
        padding-top: math.div(9, 16) * 100%;
      }
    }
  }
  &__image {
    &__wrapper {
      @apply block w-full max-w-screen-sm relative my-4 mx-auto;
    }
    &__title {
      @apply text-center m-2 text-gray-600 font-bold;
    }
    &__articleImage {
      @apply block w-full relative overflow-hidden m-0;
      &::before {
        content: '';
        @apply block w-full relative;
        padding-top: math.div(9, 16) * 100%;
      }
    }
  }
}
