@use '../../Foundation/mixin' as *;

ul,
ol {
  &.u-list--inline {
    display: flex;
    padding-left: 1rem;
    list-style: none;
    li {
      @include mq(md) {
        margin: auto 0.6rem;
      }

      span {
        display: inline-block;
      }
    }
  }
}
