/*===========================================*
**  記事本文
**===========================================*/
.Article {
    blockquote {
      margin: 1em;
      padding: 1em;
      border-left: #c1e4e9 3px solid;
      max-width: calc(100%-4em);
    }
    a[target="_blank"]{
      padding-right: 0.375rem;
  
      &:after {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(/img/external-link.svg) no-repeat 0 0;
        background-size: 20px 20px;
        content: "";
        position: relative;
        top: 0.15625rem;
        left: 0.125rem;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .Article{
        .scroll {
            overflow: auto;
            overflow-y: hidden;
        }
        table {
            width: 100%;
            min-width: 768px;
        }
    }
  }
  