/*===========================================*
**  記事本文
**===========================================*/
.Article {
    blockquote {
      margin: 1em;
      padding: 1em;
      border-left: #c1e4e9 3px solid;
      max-width: calc(100%-4em);
    }
    /*
    th {
      border-bottom: 1px solid;
      text-align: center;
    }
    th,td {
      padding: 0.5em 1em;
    }
    table {
      margin: 2em 0;
      border-collapse:  collapse;
    }
    */
  }
  
  @media screen and (max-width: 768px) {
    .Article{
        .scroll {
            overflow: auto;
            overflow-y: hidden;
        }
        table {
            width: 100%;
            min-width: 768px;
        }
    }
  }
  