html {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  font-size: $default-font-size;
  font-size: calc($default-font-size + 0.25vw);
  width: 100%;
}
body {
  width: 100%;
}
a {
  color: $link-color;
  &:hover{
    color: $primary;
  }
}
.wrapper {
  min-height: 100vh;
}