.sl-contact{
    input{
        box-sizing: border-box;
        width: 100%;
        margin: 1rem 0;
        padding: 1.2rem;
        border: 1px solid $sl-gray;
        border-radius: 0.4rem;
        outline: none;
    }

    textarea{
        box-sizing: border-box;
        width: 100%;
        height: 16rem;
        margin: 1rem 0;
        padding: 1.2rem;
        border: 1px solid $sl-gray;
        border-radius: 0.4rem;
        outline: none;
    }
}