$sl-light-gray: #f8f9fa;
.sl-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*===========================================
** 記事エリア
**===========================================*/
.sl-container {
    padding: 1rem 2rem;
}
/*===========================================
** フッター
**===========================================*/
footer {
    margin-top: auto;
    background: $sl-light-gray;
    padding: 0.3rem 0.5rem;
    .ft-wrapper{
        display: flex;
        justify-content: space-between;
        .ft-flex-item1{
            flex-grow: 2;
            text-align: center;
            font-size: 0.9rem;
        }
        .ft-flex-item2{
            a {
                margin: 0 0.2rem;
            }
        }
    }
}