@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:700|Lato&display=swap');

$white: #ffffff;
$navbar-dark-color: rgba($white, .7) ;
$navbar-dark-hover-color: rgba($white, .85);

$enable-responsive-font-sizes: true;
//$small-font-size: 90%;

//color
$primary: #164a84;
$link-color:#007bbb;
$accent-color: #00ff70;

$light: #f8f8f8;
$dark: #333333;

$border-color: #cccccc;

//font
$font-family-site-title: 'IBM Plex Mono',monospace;
$bold: 700;
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Verdana, Meiryo, 'Yu Gothic', YuGothic, sans-serif;

$default-font-size: 18px;
$ex-large-font-size: 2rem;
$large-font-size: 1.4rem;
$small-font-size: 0.9rem;

//breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// spacer
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ) , 
  $spacers )