/*=====================================
** テーマカラー
**=====================================*/
$primary: #164a84;
$sl-primary-light: #336eb1;
$sl-primary-lighter: #e4eaf0;
$sl-gray: #dddddd;
$sl-light-gray: #fafaf8;
$sl-dark-gray: #343536;
$sl-note: #ffffe5;
$sl-danger: #ffe5f2;

/*=====================================
** フォント
**=====================================*/
$sl-font-ss:
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif
;
$sl-font-default: $sl-font-ss;
$sl-font-hw: 'Architects Daughter', cursive;
$sl-font-logo: 'Fredericka the Great', cursive;

/*=====================================
** ブレークポイント
**=====================================*/
$sl-breakpoints: (
    'xs': 'screen and (max-width: 36em)',
    'sm': 'screen and (max-width: 48em)',
    'md': 'screen and (max-width: 64em)',
    'lg': 'screen and (max-width: 80em)',
) !default;

@mixin sl-mq($sl-breakpoint) {
    @media #{map-get($sl-breakpoints, $sl-breakpoint)} {
      @content;
    }
  }