/*===========================================
** 前・次
**===========================================*/
.sl-prevnext {
    background: $sl-primary-lighter;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    position: relative;
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        color: $sl-gray-dark;
    }
}