/*=====================================
** 表示
**=====================================*/
.sl-display-none {
    display: none;
}
/*=====================================
** 位置指定
**=====================================*/
.sl-align-center {
    text-align: center;
}
/*=====================================
** リスト
**=====================================*/
ul,ol {
    &.sl-inline-list{
        padding-left: 1rem;
        li {
            display: inline-block;
            margin: auto 0.6rem;
            @include sl-mq(sm){
                margin: auto 0.2rem;
            }
        }
    }
}
/*=====================================
** ボーダー
**=====================================*/
.sl-border-bottom {
    border-bottom: 1px solid $sl-gray;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}