@charset "utf-8";
$primary: #409ecc;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
$small-font-size: 90%;
$card-height: 100%;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
.cats
{
    font-size: 1.2rem !important;
}